---
import Base from "@layouts/Base.astro";
import SigninSlider from "@layouts/function-components/SigninSlider.jsx";
import LoginForm from "@layouts/function-components/LoginForm.jsx";
---

<Base>
  <section>
    <div class="container max-w-full">
      <div class="row">
        <div class="min-h-[980px] bg-white py-10 lg:col-6 lg:py-[114px]">
          <div class="mx-auto w-full max-w-[480px]">
            <img class="mb-8" src="/images/logo-on-chess-text.png" alt="OnChess Logo" />
            <h1 class="mb-4">Sign In</h1>
            <p>Sign in to your OnChess account to access all features</p>
            
            <LoginForm client:load />
          </div>
        </div>
        <SigninSlider
          client:load
          title="Improve your chess skills<br />with OnChess"
        />
      </div>
    </div>
  </section>
</Base>
